html, body, div {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.colorOptionsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

.gridContainer {
    width: 80vh;
    height: 80vh;
    display: flex;
    flex-direction: column;
}

.row {
    flex: 1;
    display: flex;
}

.box {
    flex: 1;
    border: solid rgb(165, 165, 165) 1px;
    display: block;
}

.buttons {
    margin: 50px;
}

.colorRadios {
    margin: 20px;
}